@page "/"


<PageTitle>Passwor Reset</PageTitle>

<h1>Passwor Reset</h1>

<form method="post" action="/passwordreset" id="passwordResetForm">
    <div>
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" />
    </div>

    <button type="button" onclick="submitForm()">Submit</button>
</form>

<div id="divSuccess">
    SUCCESS
</div>

<script>
    function submitForm() {
        const form = document.getElementById('passwordResetForm');
        const formData = new FormData(form);
        const jsonData = JSON.stringify(Object.fromEntries(formData.entries()));

        fetch('/passwordreset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    }
</script>

@code {
    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}
